<div class="modal-body">
	<div ng-style="{height: windowHeight - 310}">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<button class="btn btn-success fileinput-button" ng-show="isStatus('ToAddFile')">
					<span class="glyphicon glyphicon-plus"></span> {{'ARCHETYPE_UPLOAD_ADD_FILE' | translate}}
					<input id="inputFiles" type="file" files-model multiple file-list="fileList">
				</button>
				<h4 ng-show="status == 'Validating'"><img ng-src="{{WEBSITE_DOMAIN}}/img/loading.gif" style="max-height: 18px;"></img> {{'iUploadUploading' | translate}}</h4>
				<h4 ng-show="status == 'ValidationFailed'" style="color: red">{{'iUploadValidationFailed' | translate}}</h4>
				<h4 ng-show="status == 'ValidationPast'" style="color: green">{{'iUploadValidationPast' | translate}}</h4>
				<h4 ng-show="status == 'Uploading'"><img ng-src="{{WEBSITE_DOMAIN}}/img/loading.gif" style="max-height: 18px;"></img> {{'iUploadUploading' | translate}}</h4>
				<h4 ng-show="status == 'UploadFailed'" style="color: red">{{'iUploadUploadFailed' | translate}}</h4>
				<h4 ng-show="status == 'UploadSucceeded'" style="color: green">{{'iUploadUploadSucceeded' | translate}}</h4>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12" ng-style="{height: windowHeight - 370}" style="overflow: auto">
				<table role="presentation" class="table table-striped table-hover" ng-show="fileList.length">
					<tbody>
						<tr ng-repeat="file in fileList | orderBy:file.name" ng-class="{TOUPLOAD: '', VALID: 'success', EXISTED: 'info', CHANGED: 'warning', INVALID: 'danger', FAILED: 'danger'}[file.status]">
							<td style="vertical-align: middle;">
								<span ng-show="file.status=='TOUPLOAD'"><span class="glyphicon glyphicon-plus-sign"></span> {{'iUploadToUpload' | translate}}</span>
								<span ng-show="file.status=='VALID'"><span class="glyphicon glyphicon-ok-sign"></span> {{'iUploadValid' | translate}}</span>
								<span ng-show="file.status=='INVALID'"><span class="glyphicon glyphicon-minus-sign"></span> {{'iUploadInvalid' | translate}}</span>
								<span ng-show="file.status=='FAILED'"><span class="glyphicon glyphicon-remove-sign"></span> {{'iUploadFailed' | translate}}</span>
								<span ng-show="file.status=='UPLOADING'"><img ng-src="{{WEBSITE_DOMAIN}}/img/loading.gif" style="max-height: 20px;"></img> {{'iUploadProcessing' | translate}}</span>
							</td>
							<td style="vertical-align: middle;">{{file.name}}</td>
							<td style="vertical-align: middle;">{{file.size/1024 | number:0}}KB</td>
							<td style="vertical-align: middle;"><span ng-show="file.status == 'INVALID'" style="cursor: pointer;" popover-placement="bottom" popover="{{file.message}}"><span class="glyphicon glyphicon-exclamation-sign"></span> {{'iUploadDetails' | translate}}</span></td>
							<td style="vertical-align: middle;">
							<button ng-show="file.status== 'TOUPLOAD' || file.status == 'INVALID'" type="button" class="btn btn-warning" ng-click="deleteFile(file.name)">
								{{'iUploadDelete' | translate}}
							</button>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button ng-show="isStatus('ToAddFile')" class="btn btn-primary btn-lg" ng-click="validateFiles()" ng-disabled="fileList.length == 0">
		{{'ARCHETYPE_UPLOAD_VALIDATE' | translate}}
	</button>
	<button ng-show="status == 'ValidationFailed'" class="btn btn-primary btn-lg" ng-click="validateFiles()" ng-disabled="fileList.length == 0">
		{{'iUploadRetry' | translate}}
	</button>
	<button ng-show="status == 'ValidationPast'" class="btn btn-success btn-lg" ng-click="uploadFiles()" ng-disabled="fileList.length == 0">
		{{'iUploadUpload' | translate}}
	</button>
	<button class="btn btn-warning btn-lg" ng-click="reset()">
		{{'iUploadReset' | translate}}
	</button>
</div>