<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12 hbox">
		<div class="panel panel-default" ng-show="!isArchetypeListHidden" >
			<div class="panel-heading">
				<div class="input-group">
					<div class="btn-group input-group-btn" dropdown>					 
						 <button class="btn btn-primary"  ng-click="open('lg')">
						   New	 
						 </button>					    
					  </div>	
					  <input type="text" class="form-control" placeholder="Search for...">						 		
				</div>
			</div>
			<ul class="list-group" ng-style="{height:containerHeight-55}" style="overflow:auto;">
				<a href=""  ng-class="{active:selectedArchetype.id == archetype.id}" class="list-group-item" ng-repeat="archetype in draftArchetypeList"  ng-click="selectArchetype(archetype)">{{archetype.name}}</a>
			</ul>
		</div>
			
	
	<splitter is-adjust-enabled="!isArchetypeListHidden"  style="min-height: 100%;" >
		<i style="cursor: pointer" ng-click="isArchetypeListHidden = !isArchetypeListHidden" ng-show="isArchetypeListHidden"   tooltip-placement="right" tooltip="Expand" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-right" ng-style="{'margin-top': containerHeight/2}" ></span> </i>
	    <i style="cursor: pointer" ng-click="isArchetypeListHidden = !isArchetypeListHidden" ng-show="!isArchetypeListHidden"  tooltip-placement="right" tooltip="Collapse" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-left" ng-style="{'margin-top': containerHeight/2}" ></span> </i>
    </splitter>
    <div class="col-xs-12 col-md-12 col-lg-12 flex-box">
    	<ins>{{selectedArchetype.name}}</ins>   	
    	
        <div class="col-xs-12 col-md-12 col-lg-12 flex-box">
        <tabset class="row" tab-control="tabControl">
        	<tab>
        		<tab-heading>
        		 Hedear
        		</tab-heading>
        		<div class="col-xs-12 col-md-12 col-lg-12" style="overflow:auto;">
        			<edit-header-pane  max-height="paneHeight"  style="magin-top:5px; margin-bottom:20px;"></edit-header-pane>
        		</div>       		
        	</tab>
        	
        	<tab>
        		<tab-heading>
        		 Definition
        		</tab-heading>
        		<div class="col-xs-12 col-md-12 col-lg-12" style="overflow:auto;">
        			<edit-definition-pane style="margin-top:5px; margin-bottom:20px;"></edit-definition-pane>
        		</div>       		
        	</tab>
        	
        	<tab>
        		<tab-heading>
        		 Ontology
        		</tab-heading>
        		<div class="col-xs-12 col-md-12 col-lg-12" style="overflow:auto;">
        			<edit-ontology-pane  max-height="paneHeight"  style="magin-top:5px; margin-bottom:20px;"></edit-ontology-pane>
        		</div>       		
        	</tab>
        	
        	<tab>
        		<tab-heading>
        		 Display
        		</tab-heading>
        		<div class="col-xs-12 col-md-12 col-lg-12" style="overflow:auto;">
        			<edit-display-pane  max-height="paneHeight"  style="magin-top:5px; margin-bottom:20px;"></edit-display-pane>
        		</div>       		
        	</tab>

        <button class="btn btn-primary" pull-right  style="margin-left:10px;" ng-disabled="selectedArchetype==undefined" ng-click="saveSelectedArchetype()">
    	   Save
    	</button>	
        <button class="btn btn-primary" pull-right  style="margin-left:10px"; ng-disabled="selectedArchetype==undefined" ng-click="submitSelectedArchetype()">
        	Submit 
        </button>    

        </tabset>	
        </div>
    </div>
	</div>
	<script type="text/ng-template" id="archetypeCreate.html">
	<div class="modal-header">
		<h3 class="modal-title">Create Your Owm Archetype</h3>
	</div>
	<div class="modal-body">
		This is Archetype message Modal!
		<div class="row">
		<label>Orgnization:</label>
		<select class="form-control" ng-options="org for org in orgnizationList"></select>
		<select class ="form-control" ng-options ="org for org in orgnizationList"></select>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">CANCEL</button>
	</div>
	</script>
</div>
	