<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group pull-right" dropdown>
                    <button class="btn btn-default dropdown-toggle" dropdown-toggle style="width: 110px;">{{selectedLifecycle}} <span class="glyphicon glyphicon-chevron-down pull-right" style="margin-top: 2px;"></span></button>
                    <ul class="dropdown-menu" style="min-width: 110px;">
                        <li><a href="" class="text-center" ng-click="selectedLifecycle = 'Draft';">Draft</a></li>
                        <li><a href="" class="text-center" ng-click="selectedLifecycle = 'Published';">Published</a></li>
               <!--          <li><a href="" ng-click="selectedLifecycle = 'Draft';">
                        	<img ng-class="{draft: true}" class="clever-icon" style="padding: 0 10px;height: 16px;">Draft</img>
                        </a></li>
                        <li><a href="" ng-click="selectedLifecycle = 'Published';">
                        	<img ng-class="{published: true}" class="clever-icon" style="padding: 0 10px;height: 16px;">Published</img>
                        </a></li> -->
                    </ul>
                </div>
                <input type="text" class="form-control" style="width: 63%;">
            </div>
            <div class="panel-body" ng-style="{height: containerHeight - 55}" style="overflow: auto;">
            </div>
        </div>
    </div>
    <div class="col-xs-8 col-md-8 col-lg-8">
    </div>
</div>
