<div class="Control">
             <a>{{'CONTROL_BOX_WIDGET' | translate}}</a>
             <div class="controlItem" id="controlList[0]" ng-click="creatFn()">
                 <img alt="按钮" src="img/toolbox/button.png" />
                 <label>{{'CONTROL_BOX_BUTTON' | translate}}</label>
                 </div>     
          <div class="controlItem" id="controlList[1]" ng-click="creatFn()">
             <img alt="标签" src="img/toolbox/label.png"/>
             <label>{{'CONTROL_BOX_LABEL' | translate}}</label>
             </div>           
</div>