<div class="row">
  <div class="row">
  	<div class="col-xs-1 col-md-1 col-sm-1" style="margin-right:0px;padding-right: 0px" ng-show="definition">
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" ng-click="expand()" ng-show="isCollapse">
			<span class="glyphicon glyphicon-plus"></span>
		</button> </span>
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" ng-click="collapse()" ng-show="!isCollapse">
			<span class="glyphicon glyphicon-minus"></span>
		</button> </span>
	</div>
	<div class="col-xs-5 col-md-5 col-lg-5"  ng-style="{height: contentHeight.value - 57}" style="overflow: auto; padding-left:0px; margin-left:0px;" >

		<tree-view tree-data="definition.treeItems"  class="definition-tree" tree-control="treeControl" node-label-generator="getEditableTreeNodeLabel" node-menu-generator="getTreeNodeMenu" click-edit-menu-callback="editArchetype(node,type)">
			<tree-expanded-icon>
				<span class="clever-icon expanded" style="padding: 0 6px;height: 12px;background-position-y: 6px;"></span>
			</tree-expanded-icon>
			<tree-collapsed-icon>
				<span class="clever-icon collapsed" style="padding: 0 6px;height: 12px;background-position-y: 6px;"></span>
			</tree-collapsed-icon>
		</tree-view>
	</div>
</div>
</div>
