    <div class='row' ng-style="{height: containerHeight - 20}">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-success pull-right" tooltip-placement="top" 
                        tooltip="{{'APPLICATION_EDIT_ADD_APPLICATION' | translate}}" 
                        tooltip-popup-delay="100" ng-click="addNewApp()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <input type="text" placeholder="{{'APPLICATION_EDIT_FIND_HINT' | translate}}" 
                        class="form-control" style="width: 75%;" ng-model="search.name">
                </div>
                <div class="list-group" ng-style="{height: containerHeight - 70}" style="overflow: auto;">
                    <a class="list-group-item" ng-class="{'active': application.id == obj.selectedAppId}" 
                        ng-repeat="application in obj.applications | filter:search" 
                        ng-click="selectApp(application)">{{application.name}}
                    </a>
                </div>
            </div>
        </div>
        <div ui-view class="col-md-9"></div>
    </div>
</div>
