<div style="border-bottom: 1px solid #e5e5e5; margin-bottom: 20px;"></div>
<div class="content-container" ng-style="{height: windowHeight - 250}">
    <div class='row'>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-success pull-right" tooltip-placement="top" 
                        tooltip="{{'APPLICATION_EDIT_ADD_APPLICATION' | translate}}" 
                        tooltip-popup-delay="100" ng-click="addNewApp()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <input type="text" placeholder="{{'APPLICATION_EDIT_FIND_HINT' | translate}}" 
                        class="form-control" style="width: 75%;" ng-model="search.name">
                </div>
                <div class="list-group" ng-style="{height: windowHeight - 340}" style="overflow: auto;">
                    <a class="list-group-item" ng-class="{'active': app.id == selectedAppId}" 
                        ng-repeat="app in apps | filter:search" ng-click="selectApp(app)">{{app.name}}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button type="button" class="btn btn-default pull-right" ng-click="saveApp()">
                        <span class="glyphicon glyphicon-upload"></span>
                        {{okText | translate}}
                    </button>
                    <button type="button" class="btn btn-default pull-right" ng-click="deleteApp()" 
                        ng-show="editMode" style="margin-right: 10px;">
                        <span class="glyphicon glyphicon-trash"></span>
                        {{'APPLICATION_EDIT_BTN_DELETE' | translate}}
                    </button>
                    <div class="content-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">{{'APPLICATION_EDIT_NAME' | translate}}</span>
                                    <input type="text" class="form-control" ng-model="application.name">
                                </div>
                                <span style="color: red;" ng-show="!nameValidation.validated">
                                        {{nameValidation.msg}}</span>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon">{{'APPLICATION_EDIT_DESCRIPTION' | translate}}</span>
                                    <textarea class="form-control" rows=12 ng-model="application.description"></textarea>
                                </div>
                                <span style="color: red;" ng-show="!descriptionValidation.validated">
                                    {{descriptionValidation.msg}}</span>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon">{{'APPLICATION_EDIT_URL' | translate}}</span>
                                    <input type="text" class="form-control" ng-model="application.url">
                                </div>
                                <span style="color: red;" ng-show="!urlValidation.validated">{{urlValidation.msg}}</span>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="text-center">
                                            <img src="{{imgPath}}" style="width: 200px;height: 200px;">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="input-group">
                                            <input class="form-control" type="text" value="{{application.img.path}}" 
                                                disabled="true" style="cursor: default;" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-success fileinput-button" type="button"
                                                    tooltip-placement="top" tooltip="{{'APPLICATION_EDIT_BTN_BROWSE' | translate}}"tooltip-popup-delay="100">
                                                    <span class="glyphicon glyphicon-folder-open" ></span>
                                                    <input type="file" style="width:25px;height:0px" file-model 
                                                    file="application.img" on-change="previewImg(file)">
                                                </button>
                                            </span>
                                        </div>
                                        <span style="color: red;" ng-show="!imgValidation.validated">{{imgValidation.msg}}</span>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="border-bottom: 1px solid #e5e5e5;"></div>