<div>
	<span ng-repeat="type in partyTypeList"  style="margin-right:18px" for="{{type}}">
		<input type="radio" ng-model="partyType.value" ng-value='type' id="{{type}}">
		{{type}} </span>
	<hr>

	<div ng-if="partyType.value == 'PARTY_SELF'">
		<span>Attributes :</span>
		<br>
		<div style="margin-left:20px">
			<span class="attribute">externalRef</span>
			<input type="checkbox" ng-model="hasExternalRef.value">
			<div ng-if="hasExternalRef.value" style="margin-left:20px">
				<h5>ID:</h5>
				<input  class="form-control" type="text"  />
				<h5>Namespace:</h5>
				<input class="form-control" type="text" />
				<h5>Type:</h5>
				<input class="form-control" type="text" />
			</div>
		</div>
	</div>

	<div ng-if="partyType.value == 'PARTY_IDENTIFIED'">
		<span>Attributes :</span>
		<br>
		<div style="margin-left:20px">
			<span class="attribute">externalRef</span>
			<input type="checkbox" ng-model="hasExternalRef.value">
			<br>
			<div ng-if="hasExternalRef.value" style="margin-left:20px">
				<h5>ID:</h5>
				<input  class="form-control" type="text"  />
				<h5>Namespace:</h5>
				<input class="form-control" type="text" />
				<h5>Type:</h5>
				<input class="form-control" type="text" />
			</div>
			<span class="attribute">name:</span>
			<input type="checkbox" ng-model="hasName.value" />
			<br>
			<div ng-if="hasName.value" style="margin-left:20px">
				<span>String</span>
				<input  class ="form-control" type="text" />
			</div>
			<span class="attribute">identifiers:</span>
			<input type="checkbox" ng-model="hasIdentifiers.value" />
			<br>
			<div ng-if="hasIdentifiers.value" style="margin-left:20px">
				edit identifier here
			</div>
		</div>
	</div>

	<div ng-if="partyType.value=='PARTY_RELATED'">
		<span><strong>Attributes :</strong></span>
		<br>
		<div style="margin-left:20px">
			<span class="attribute">externalRef</span>
			<input type="checkbox" ng-model="hasExternalRef.value">
			<br>
			<div ng-if="hasExternalRef.value" style="margin-left:20px">
				<h5>ID:</h5>
				<input  class="form-control" type="text" />
				<h5>Namespace:</h5>
				<input class="form-control" type="text" />
				<h5>Type:</h5>
				<input class="form-control" type="text" />
			</div>
			<span class="attribute">relationship</span>
		</div>
	</div>

</div>
