<div style="border-bottom: 1px solid #e5e5e5;"></div>
<div class="modal-body">
	<div class="content-container" ng-style="{height: windowHeight - 220}">
		<div class='row'>
			<div class="col-md-3">
				<div class="panel panel-default">
	 				<div class="panel-heading">
	 					<input type="text" placeholder="app name" class="form-control" style="width: 100%;" ng-model="search.name">
	 				</div>
					<div class="list-group" ng-style="{height: windowHeight - 277}" style="overflow: auto;">
						<a class="list-group-item" ng-repeat="application in applications | filter:search">
						{{application.name}}</a>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div ng-style="{height: windowHeight - 220}" style="overflow: auto;">
					<div ng-repeat="application in applications | filter:search">
						<div class="panel panel-default" style="margin-right: 10px;" 
							ng-mouseenter="editShow = true" ng-mouseleave="editShow = false" >
				  			<div class="panel-body">
					  			<div class="row">
									<div class="col-md-3">
										<div class="thumbnail" style="margin-bottom: 0px;">
											<img ng-src="{{websiteDomain + application.imgPath}}" 
											style="width: 150px;height: 150px;">
										</div>
									</div>
									<div class="col-md-9">
										<button type="button" class="btn btn-default pull-right" 
											ng-show="editShow" ng-click="gotoEditPage(application)">
				    						<span class="glyphicon glyphicon-edit"></span> Edit
										</button>
										<a href="#" style="font-size: 20px;">{{application.name}}</a>
										<br/>
					  					{{application.description}}
					  				</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="border-bottom: 1px solid #e5e5e5;"></div>