<div style="border-bottom: 1px solid #e5e5e5;"></div>
<div class="modal-body">
	<div class="content-container" ng-style="{height: windowHeight - 220}">
		<div class='row'>
			<div class="col-md-3">
				<div class="panel panel-default">
	 				<div class="panel-heading">
	 					<input type="text" placeholder="app name" class="form-control" style="width: 100%;" ng-model="search.name">
	 				</div>
					<div class="list-group" ng-style="{height: windowHeight - 277}" style="overflow: auto;">
						<a href="http://localhost:8080/clever-management-web/#/management/application/view#f1" class="list-group-item" ng-repeat="application in applications | filter:search">
						{{application.name}}</a>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div ng-style="{height: windowHeight - 220}" style="overflow: auto;">
					<div ng-repeat="application in applications | filter:search">
						<div class="panel panel-default">
				  			<div class="panel-body">
					  			<div class="row">
									<div class="col-md-3">
										<a href="#" class="thumbnail" style="width: 150px; height: 150px; margin-top: 10px; margin-bottom: 10px;">
										<img ng-src="{{imgUrl}}" style="margin-top: inherit;"></a>
									</div>
									<div class="col-md-9">
										<a href="#" name="{{application.href}}"><h4>{{application.name}}</h4></a>
					  					{{application.desc}}
					  				</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="border-bottom: 1px solid #e5e5e5;"></div>