<div class="row">
	<div class="col-xs-8 col-md-8 col-lg-8">
		<span class="clever-icon" ng-class="archetypeInfo.rmEntity | lowercase" style="padding: 10px 20px;background-size: 30px;"></span>
		<span style="font-size: 20pt;">{{archetypeInfo.name}}</span>
	</div>
	<div class="col-xs-4 col-md-4 col-lg-4">
		<div class="input-group pull-right" style="padding: 5px;width: 260px;margin-top: 5px;">
			<span class="input-group-addon" style="width: 100px;">{{'ARCHETYPE_PANE_LANGUAGE' | translate}}:</span>
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle style="width: 160px;">
					{{selectedLanguage.code}} <span class="glyphicon glyphicon-chevron-down pull-right" style="margin-top: 2px;"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="language in languages">
						<a href class="text-center" ng-click="selectLanguage(language)">{{language.code}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<tabset class="row" tab-control="tabControl">
	<tab>
		<tab-heading>
			{{'ARCHETYPE_PANE_INFO' | translate}}
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12" style="overflow: auto;margin-top: 5px;">
			<table class="table table-hover" style="padding-top: 5px;">
				<tbody>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Archetype ID</b></th>
						<th style="font-weight: normal">{{archetypeInfo.name}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Master ID</b></th>
						<th style="font-weight: normal"><a href ng-click="selectMasterId(archetypeInfo.masterId)">{{archetypeInfo.masterName}}</a></th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Specialise archetype</b></th>
						<th style="font-weight: normal"><a href ng-click="selectArchetypeId(archetypeInfo.specialiseArchetype.id)">{{archetypeInfo.specialiseArchetype.name}}</a></th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Lifecycle state</b></th>
						<th style="font-weight: normal">{{archetypeInfo.lifecycleState}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Editor</b></th>
						<th style="font-weight: normal">{{archetypeInfo.editorName}}</th>
					</tr>
				</tbody>
			</table>
		</div>
	</tab>
	<tab>
		<tab-heading>
			Header
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12" style="overflow: auto;">
			<header-pane max-height="paneHeight - 5" header="header" description="currentDescription" terminology="currentTerminology" style="margin-top: 5px;"></header-tab>
		</div>
	</tab>
	<tab>
		<tab-heading>
			Definition
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12" style="overflow: auto;">
			<definition-pane definition="definition" max-height="paneHeight - 5" terminology="currentTerminology" style="margin-top: 5px;"></definition-tab>
		</div>
	</tab>
	<tab>
		<tab-heading>
			Terminology
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12" style="overflow: auto;">
			<terminology-pane terminology="currentTerminology" max-height="paneHeight - 5" style="margin-top: 5px;"></terminology-tab>
		</div>
	</tab>
	<tab>
		<tab-heading>
			XML
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12">
			<div class="row" style="padding: 4px 0;">
				<div class="btn-group pull-right" role="group">
					<a ng-href="{{archetypeInfo.xmlDownloadUrl}}" class="btn btn-default"><i class="glyphicon glyphicon-download-alt"></i>{{'ARCHETYPE_PANE_DOWNLOAD' | translate}}</a>
				</div>
			</div>
			<div class="row">
				<pre ng-style="{'max-height': paneHeight - 45}" style="overflow: auto;">{{archetypeInfo.xml}}</pre>
			</div>
		</div>
	</tab>
	<tab>
		<tab-heading>
			ADL
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12">
			<div class="row" style="padding: 4px 0;">
				<div class="btn-group pull-right" role="group">
					<a ng-href="{{archetypeInfo.adlDownloadUrl}}" class="btn btn-default"><i class="glyphicon glyphicon-download-alt"></i>{{'ARCHETYPE_PANE_DOWNLOAD' | translate}}</a>
				</div>
			</div>
			<div class="row">
				<pre ng-style="{'max-height': paneHeight - 45}" style="overflow: auto;">{{archetypeInfo.adl}}</pre>
			</div>
		</div>
	</tab>
</tabset>
