<div class="row col-xs-12 col-md-12 col-lg-12" ng-style="{height: containerHeight - 40}">
	<div class="row">
		<h5>{{'STORAGE_TEMPLATE_VERIFY_TOTAL' | translate}}: <span class="badge">{{templateFiles.length}}</span></h5>
	</div>
	<div class="row">
	    <ul class="list-group" ng-style="{height: containerHeight - 80}" style="overflow: auto;">
	    <li class="list-group-item" ng-repeat="templateFile in templateFiles" style="overflow: hidden;">		
				<a ng-click="oetTemplateFile(templateFile)" tooltip-placement="right" tooltip="Click me to view the modification" tooltip-popup-delay="200" >{{templateFile.name}}</a>
	            <div class="btn-group pull-right btn-group-sm" role="group">          
	              <button type="button" class="btn btn-success" ng-click="approveTemplateFile(templateFile)">
						{{'STORAGE_TEMPLATE_VERIFY_APPROVE' | translate}}
					</button>
					<button type="button" class="btn btn-warning" ng-click="rejectTemplateFile(templateFile)">
						{{'STORAGE_TEMPLATE_VERIFY_REJECT' | translate}}
					</button>
					<button type="button" class="btn btn-danger" ng-click="removeTemplateFile(templateFile)">
						{{'STORAGE_TEMPLATE_VERIFY_REMOVE' | translate}}
					</button>
	            </div> 
	            <div style="margin-top:15px">
					<table>
						<tr style="color:#5cb85c">
							<td>{{'EDITOR' | translate}} : </td>
							<td >{{templateFile.editorName}}</td>
						</tr>
						<tr style="color:#2E2AD0;">
							<td>{{"TEMPLATE_TYPE" | translate}} :&nbsp;&nbsp; </td>
							<td><img  ng-class="templateFile.rmEntity | lowercase" class="clever-icon list" style="padding: 0 10px;height: 16px;"></img><span >{{templateFile.rmEntity}}</span></td>
						</tr>
						<tr style="color:brown">
							<td>{{'CONCEPT_NAME' | translate}} : </td>
							<td >{{templateFile.conceptName}}</td>
						</tr>
						<tr style="color: #3bafda">
							<td>{{'SUBMIT_TIME' | translate}} : </td>
							<td>{{getFormatedTime(templateFile.lastModifyTime)}}</td>
						</tr>
					</table>
				</div>
			</li>
			</ul>
   </div>
</div>
