<div class="row col-xs-12 col-md-12 col-lg-12" ng-style="{height: containerHeight - 40}">
	<div class="row">
		<h5>{{'STORAGE_TEMPLATE_VERIFY_TOTAL' | translate}}: <span class="badge">{{templateFiles.length}}</span></h5>
	</div>
	<div class="row">
	    <ul class="list-group" ng-style="{height: containerHeight - 80}" style="overflow: auto;">
	        <li class="list-group-item" ng-repeat="templateFile in templateFiles" style="overflow: hidden;">
	            {{templateFile.name}}
	            <div class="btn-group pull-right btn-group-sm" role="group">
	                <button type="button" class="btn btn-default" ng-click="oetTemplateFile(templateFile)">{{'STORAGE_TEMPLATE_VERIFY_OET_DIFF' | translate}}</button>
	                <button type="button" class="btn btn-default" ng-click="approveTemplateFile(templateFile)">{{'STORAGE_TEMPLATE_VERIFY_APPROVE' | translate}}</button>
	                <button type="button" class="btn btn-default" ng-click="rejectTemplateFile(templateFile)">{{'STORAGE_TEMPLATE_VERIFY_REJECT' | translate}}</button>
	                <button type="button" class="btn btn-default" ng-click="removeTemplateFile(templateFile)">{{'STORAGE_TEMPLATE_VERIFY_REMOVE' | translate}}</button>
	            </div>
	            <span style="color: red;">{{'STORAGE_TEMPLATE_VERIFY_EDITOR' | translate}}: {{templateFile.editorName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
	        </li>
	    </ul>
   </div>
</div>
