<div class="col-xs-12 col-md-12 col-sm-12">
    <tabset tab-control='tabControl'>
        <tab heading="{{'DEVELOPMENT_API_MAINTAIN_VERSION_AND_CATEGORY_MAINTAIN' | translate}}">
            <div style=" height: 300px;
				display: -webkit-flex;
				display:         flex;
				-webkit-align-items: center;
				align-items: center;
				-webkit-justify-content: center;
				justify-content: center;">
                <button class="btn btn-lg btn-success" ng-click="openAddUpdateModal('sm')">
                    {{'DEVELOPMENT_API_EDIT_ADD_UPDATE' | translate}}
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-lg btn-info" ng-click="openDeleteModal('sm')">
                    {{'DEVELOPMENT_API_EDIT_REMOVE' | translate}}
                </button>
            </div>
        </tab>
        <tab heading="{{'DEVELOPMENT_API_MAINTAIN_CLASS_ADD' | translate}}">
            <pojo-class-add-pane version-master-id="versionMasterId" max-height="maxHeight"></pojo-class-add-pane>
        </tab>
    </tabset>
</div>
