<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
		<!-- left side navbar-->
	    <nav id="navbar" class="vbox">
	    	<div class="panel-group" id ="">
	    		<div class="panel panel-default">
	    			<div class="panel-heading">
	    				<div class="panel-title row">
	    					
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    <div class="listBox" ng-style="{height:windowHeight - 200}"  >
	        <div class="templateTree">
                <button ng-click="expand()">expandAll</button>
                <button ng-click="collapse()">collapseAll</button>
	        	<template-list-tree tree-data="templateList" select-node-callback="selectNode(node)" tree-control="treeControl"></template-list-tree>
	        	
	        </div>	
	  	    </div>
	    </nav>
	   <div class="flexBox" ng-style="{height:windowHeight - 200}"  >
	   	<div class="editArea">
	   		<dv-text gui-data="nodeList" gui-control="dvtextControl"></DV-TEXT>
	   	</div>
	</div>
</div>
