<div class="row">
    <div class="col-xs-4 col-md-3 col-lg-3">
		<!-- left side navbar-->
	    <nav id="navbar" class="vbox">
	    	<div class="panel-group" id ="">
	    		<div class="panel panel-default">
	    			<div class="panel-heading">
	    				<div class="panel-title row">
	    					
	    				</div>
	    			</div>
	    		</div>
	
	    <div class="listBox" ng-style="{height:windowHeight - 200}">
	        <div class="templateTree">
                <button ng-click="expand()">expandAll</button>
                <button ng-click="collapse()">collapseAll</button>
	        	<!--<template-list-tree tree-data="templateList" select-node-callback="selectNode(node)" tree-control="treeControl" on-long-press="nodeOnLongPress(node)" on-touch-end="nodeOnTouchEnd()"></template-list-tree>-->
	        	<template-list-tree tree-data="templateList" select-node-callback="selectNode(node)" tree-control="treeControl" ng-mousedown="cloneItems()"></template-list-tree>
	        </div>	
	  	    </div>
	    </nav>
	    </div>  
	<div class="col-xs-8 col-md-9 col-lg-9">
         <div class="flexBox" ng-style="{height:windowHeight - 200}"  >
	   	    <div id="editArea">
	   	    </div>
	</div>
         </div>
    <div class="float" style="z-index:999 display:none">
     <!--   <dv-quantity gui-data="selectedNode" gui-control="dvquantityControl"></dv-quantity>-->
    </div>
</div>