<div class='row'>
	<div class="col-xs-12 col-md-12 col-lg-12 hbox">
		<div class="panel panel-default" ng-show="!isArchetypeListHidder">
			<div class="panel-heading">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="archetypeListFilter">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="expand()">
							<span class="glyphicon glyphicon-plus"></span>
						</button> </span>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="collapse()">
							<span class="glyphicon glyphicon-minus"></span>
						</button> </span>
				</div>
			</div>
			<div class="list-group" ng-style="{height: containerHeight - 55}" style="overflow: auto;margin-left: -5px;white-space: nowrap;">
				<!--<archetype-list-tree tree-data="archetypeList" select-node-callback="createNewMasterTabById(value.id)" tree-control="treeControl"></archetype-list-tree>-->
				<tree-view tree-data="archetypeList" node-id="id" node-children="specialisedArchetypeMasters" tree-control="treeControl">
					<tree-expanded-icon><img class="collapsed"></tree-expanded-icon>
					<tree-collapsed-icon><img class="expanded"></tree-collapsed-icon>
					<tree-node-label>
						<img ng-class="nodeData.lifecycleState | lowercase"></img>
						<span ng-bind="nodeData.conceptName"></span>
						&nbsp;<span style="color: grey;font-size: 10pt;">(<span ng-bind="nodeData.latestArchetypeVersion"></span>)</span>
					</tree-node-label>
				</tree-view>
			</div>
		</div>
		<!-- splitter -->
		<splitter is-adjust-enabled="!isArchetypeListHidder" style="min-height: 100%;">
			<i style="cursor: pointer" ng-click="isArchetypeListHidder = !isArchetypeListHidder" ng-show="isArchetypeListHidder" tooltip-placement="right" tooltip="Expand" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-right" ng-style="{'margin-top': containerHeight/2}" ></span> </i>
			<i style="cursor: pointer" ng-click="isArchetypeListHidder = !isArchetypeListHidder" ng-show="!isArchetypeListHidder" tooltip-placement="right" tooltip="Collapse" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-left" ng-style="{'margin-top': containerHeight/2}" ></span> </i>
		</splitter>
		<div class="col-xs-12 col-md-12 col-lg-12 flex-box">
			<tabset class="row" tab-control="tabControl">
				<tab ng-repeat="tab in tabs" closable="true" select="select(tab)" close="close(tab)" id="tab.id">
					<tab-heading tooltip-placement="top" tooltip-popup-delay='500' tooltip='{{tab.title}}'>
						<span class="archetype-icon" ng-class="tab.type" style="padding: 0px 10px;background-size: 18px;"></span>
						<sapn>&nbsp;{{getFixedTitle(tab.title)}}</span>
					</tab-heading>
					<div class="col-xs-12 col-md-12 col-lg-12" ng-switch="tab.type">
						<archetype-master-pane ng-switch-when="master" archetype-master-info="tab.content" max-height="containerHeight - 35" select-archetype-callback="createNewArchetypeTabById(value.id)" select-master-callback="createNewMasterTabById(value.id)"></archetype-master-pane>
						<archetype-pane ng-switch-when="archetype" archetype-info="tab.content" max-height="containerHeight - 35" select-archetype-callback="createNewArchetypeTabById(value.id)" select-master-callback="createNewMasterTabById(value.id)"></archetype-pane>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</div>
