<div class='row'>
	<div class="col-xs-12 col-md-12 col-lg-12 hbox">
		<div class="panel panel-default" ng-show="!isArchetypeListHidder">
			<div class="panel-heading">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="archetypeListFilter">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="expand()">
							<span class="glyphicon glyphicon-plus"></span>
						</button> </span>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="collapse()">
							<span class="glyphicon glyphicon-minus"></span>
						</button> </span>
				</div>
			</div>
			<div class="list-group" ng-style="{height: windowHeight - 240}" style="overflow: auto;">
				<archetype-list-tree tree-data="archetypeList" select-node-callback="selectNode(node)" tree-control="treeControl"></archetype-list-tree>
			</div>
		</div>
		<!-- splitter -->
		<splitter is-adjust-enabled="!isArchetypeListHidder" style="min-height: 100%;">
			<i style="cursor: pointer" ng-click="isArchetypeListHidder = !isArchetypeListHidder" ng-show="isArchetypeListHidder" tooltip-placement="right" tooltip="Expand" tooltip-popup-delay="500">
				<span class="glyphicon glyphicon-chevron-right" ng-style="{'padding-top': (windowHeight - 200)/2}" ></span>
			</i>
			<i style="cursor: pointer" ng-click="isArchetypeListHidder = !isArchetypeListHidder" ng-show="!isArchetypeListHidder" tooltip-placement="right" tooltip="Collapse" tooltip-popup-delay="500">
				<span class="glyphicon glyphicon-chevron-left" ng-style="{'padding-top': (windowHeight - 200)/2}" ></span>
			</i>
		</splitter>
		<div class="flexBox">
			abc
		</div>
	</div>
</div>
