<div class="page-header" style="color:#337AB7;font-size:35px">
  <span style="margin-left:10px;">{{'ARCHETYPE_VERIFY'|translate}}</span>
</div>
<div ng-style="{height:containerHeight-220}" style="posotion:absolute;overflow:auto;border-bottom:1px solid #eee">
	<div class="list-group">
	  <a href="javascript:void(0)" style="margin-bottom:15px" class="list-group-item" 
	  		ng-repeat="list in teamreviewArchetypeList" ng-click="setVerifyId(list.id)">
	    <img class="clever-icon teamreview" style="padding: 0 10px;height: 16px;"></img>
		<span>{{ list.name }}</span>
	  </a>
	</div>
</div>
<input class="btn btn-primary" style="position:absolute;right:95px;width:68px;margin-top:15px" ng-click="approveFile()"
	ng-disabled="isValid()" value="{{'ARCHETYPE_VERIFY_APPROVE'|translate}}" type="button" />
<input class="btn btn-warning" style="position:absolute;right:20px;width:68px;margin-top:15px" ng-click="reject()"
	ng-disabled="isValid()" value="{{'ARCHETYPE_VERIFY_REJECT'|translate}}" type="button" />