<div class="col-xs-12 col-md-12 col-lg-12" ng-style="{height: containerHeight - 40}">
	<div class="row">
		<h5>{{'ARCHETYPE_VERIFY_TOTAL' | translate}}: <span class="badge">{{archetypeFiles.length}}</span></h5>
	</div>
	<div class="row">
	    <ul class="list-group" ng-style="{height: containerHeight - 80}" style="overflow: auto;">
	        <li class="list-group-item" ng-repeat="archetypeFile in archetypeFiles" style="overflow: hidden;">
	            {{archetypeFile.name}}&nbsp;&nbsp;<span style="color: red;">{{'ARCHETYPE_VERIFY_EDITOR' | translate}}: {{archetypeFile.editorName}}</span>
	            <div class="btn-group pull-right btn-group-sm" role="group">
	                <button type="button" class="btn btn-default" ng-click="adlArchetypeFile(archetypeFile)">{{'ARCHETYPE_VERIFY_ADL_DIFF'|translate}}</button>
	                <button type="button" class="btn btn-default" ng-click="approveArchetypeFile(archetypeFile)">{{'ARCHETYPE_VERIFY_APPROVE'|translate}}</button>
	                <button type="button" class="btn btn-default" ng-click="rejectArchetypeFile(archetypeFile)">{{'ARCHETYPE_VERIFY_REJECT'|translate}}</button>
	                <button type="button" class="btn btn-default" ng-click="removeArchetypeFile(archetypeFile)">{{'ARCHETYPE_VERIFY_REMOVE'|translate}}</button>
	            </div>
	        </li>
	    </ul>
    </div>
    <!--<input class="btn btn-primary" style="position:absolute;left:20px;width:168px;margin-top:15px" ng-click="approveAll()"
	value="Approve all" type="button" />-->
</div>