<div class="row" style="padding-top: 5px;padding-bottom: 5px;">
	&nbsp;&nbsp;
	<span class="archetype-icon" ng-class="archetypeMaster.rmEntity | lowercase" style="padding: 10px 20px;background-size: 30px;"></span>
	<span style="font-size: 20pt;">{{archetypeMaster.conceptName}}</span>
</div>
<tabset class="row" tab-control="tabControl">
	<tab>
		<tab-heading>
			{{'ARCHETYPE_MASTER_PANE_INFO' | translate}}
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12" ng-style="{'max-height': tableMaxHeight}" style="overflow: auto;">
			<table class="table table-hover" style="padding-top: 5px;">
				<tbody>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Master ID</b></th>
						<th style="font-weight: normal">{{archetypeMaster.name}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>History version</b></th>
						<th style="font-weight: normal">
							<span ng-repeat="version in historyVersions">
								<a href>{{version.value}}</a>&nbsp;&nbsp;
							</span>
						</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Latest archetype lifecycle</b></th>
						<th style="font-weight: normal">{{archetypeMaster.lifecycleState}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Specialise master ID</b></th>
						<th style="font-weight: normal">{{archetypeMaster.specialiseArchetypeMaster.name}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Specialise master latest archetype version</b></th>
						<th style="font-weight: normal">{{archetypeMaster.specialiseArchetypeMaster.latestArchetypeVersion}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Concept name</b></th>
						<th style="font-weight: normal">{{archetypeMaster.conceptName}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Concept description</b></th>
						<th style="font-weight: normal">{{archetypeMaster.conceptDescription}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Keywords</b></th>
						<th style="font-weight: normal">{{archetypeMaster.keywords}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Copyright</b></th>
						<th style="font-weight: normal">{{archetypeMaster.copyright}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Purpose</b></th>
						<th style="font-weight: normal">{{archetypeMaster.purpose}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Use</b></th>
						<th style="font-weight: normal">{{archetypeMaster.use}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Misuse</b></th>
						<th style="font-weight: normal">{{archetypeMaster.misuse}}</th>
					</tr>
				</tbody>
			</table>
		</div>
	</tab>
	<tab>
		<tab-heading>
			{{'ARCHETYPE_MASTER_PANE_LOG' | translate}}
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12" ng-style="{'max-height': tableMaxHeight}" style="overflow: auto;">
			<table class="table table-hover" style="padding-top: 5px;">
				<thead>
					<tr>
						<th>{{'ARCHETYPE_MASTER_PANE_VERSION' | translate}}</th>
						<th>{{'ARCHETYPE_MASTER_PANE_STATE' | translate}}</th>
						<th>{{'ARCHETYPE_MASTER_PANE_OPERATION' | translate}}</th>
						<th>{{'ARCHETYPE_MASTER_PANE_OPERATIOR' | translate}}</th>
						<th>{{'ARCHETYPE_MASTER_PANE_OPERATE_TIME' | translate}}</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="log in archetypeMaster.actionLogs">
						<td>{{log.archetypeVersion}}</td>
						<td>{{log.archetypeLifecycleState}}</td>
						<td>{{log.action}}</td>
						<td>{{log.operatorName}}</td>
						<td>{{getFormatedTime(log.recordTime)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</tab>
</tabset>
