<div class="row" style="padding-top: 5px;padding-bottom: 5px;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<span class="clever-icon" ng-class="archetypeMasterInfo.rmEntity | lowercase" style="padding: 10px 20px;background-size: 30px;"></span>
		<span style="font-size: 20pt;">{{archetypeMasterInfo.conceptName}}</span>
	</div>
</div>
<tabset class="row" tab-control="tabControl">
	<tab>
		<tab-heading>
			{{'ARCHETYPE_MASTER_PANE_INFO' | translate}}
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12" ng-style="{'max-height': tableMaxHeight}" style="overflow: auto;margin-top: 5px;">
			<table class="table table-hover">
				<tbody>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Master ID</b></th>
						<th style="font-weight: normal">{{archetypeMasterInfo.name}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>History version</b></th>
						<th style="font-weight: normal"><span ng-repeat="versionMaster in archetypeMasterInfo.historyVersionMasters | orderBy:'version'"> <a href ng-click="selectHistoryVersionMaster(versionMaster)">{{versionMaster.version}}</a>&nbsp;&nbsp; </span></th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>History revision</b></th>
						<th style="font-weight: normal"><span ng-repeat="archetype in archetypeMasterInfo.archetypes | orderBy:'internalVersion'"> <a href ng-click="selectArchetype(archetype)">{{archetype.version}}</a>&nbsp;&nbsp; </span></th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Latest archetype lifecycle</b></th>
						<th style="font-weight: normal">{{archetypeMasterInfo.lifecycleState}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Specialise master ID</b></th>
						<th style="font-weight: normal"><a href ng-click="selectSpecialiseMaster(archetypeMasterInfo.specialiseArchetypeMaster)">{{archetypeMasterInfo.specialiseArchetypeMaster.name}}</a></th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Specialise master latest archetype version</b></th>
						<th style="font-weight: normal"><a href ng-click="selectSpecialiseArchetype({ id: archetypeMasterInfo.specialiseArchetypeMaster.latestArchetypeId, name: archetypeMasterInfo.specialiseArchetypeMaster.name})">{{archetypeMasterInfo.specialiseArchetypeMaster.latestArchetypeVersion}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Concept name</b></th>
						<th style="font-weight: normal">{{archetypeMasterInfo.conceptName}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Concept description</b></th>
						<th style="font-weight: normal">{{archetypeMasterInfo.conceptDescription}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Keywords</b></th>
						<th style="font-weight: normal">{{archetypeMasterInfo.keywords}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Copyright</b></th>
						<th style="font-weight: normal">{{archetypeMasterInfo.copyright}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Purpose</b></th>
						<th style="font-weight: normal">{{archetypeMasterInfo.purpose}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Use</b></th>
						<th style="font-weight: normal">{{archetypeMasterInfo.use}}</th>
					</tr>
					<tr>
						<th ng-style="{width: tableTitleWidth+ 'px'}"><b>Misuse</b></th>
						<th style="font-weight: normal">{{archetypeMasterInfo.misuse}}</th>
					</tr>
				</tbody>
			</table>
		</div>
	</tab>
	<tab>
		<tab-heading>
			{{'ARCHETYPE_MASTER_PANE_LOG' | translate}}
		</tab-heading>
		<div class="col-xs-12 col-md-12 col-lg-12" ng-style="{'max-height': tableMaxHeight}" style="overflow: auto;margin-top: 5px;">
			<table class="table table-hover" style="padding-top: 5px;">
				<thead>
					<tr>
						<th>{{'ARCHETYPE_MASTER_PANE_VERSION' | translate}}</th>
						<th>{{'ARCHETYPE_MASTER_PANE_STATE' | translate}}</th>
						<th>{{'ARCHETYPE_MASTER_PANE_OPERATION' | translate}}</th>
						<th>{{'ARCHETYPE_MASTER_PANE_OPERATIOR' | translate}}</th>
						<th>{{'ARCHETYPE_MASTER_PANE_OPERATE_TIME' | translate}}</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="log in archetypeMasterInfo.actionLogs">
						<td>{{log.version}}</td>
						<td>{{log.lifecycleState}}</td>
						<td>{{log.action}}</td>
						<td>{{log.operatorName}}</td>
						<td>{{getFormatedTime(log.recordTime)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</tab>
</tabset>
