<br />
<br />
<br />
<div class="row">
	<!-- <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1" style="text-align: right;">
		<img src="img/logo.png" style="height: 220px;"/>
	</div> -->
	<div class="col-lg-12 col-md-12">
		<div style="font-size: 70pt;font-weight: bold; position: center" >
			<center>
				{{'TITLE_WEBSITE' | translate}}
			</center>
		</div>
		<center>
			<span style="font-size: 30pt;">CLEVER&#0153;</span>
			<span style="font-size: 15pt;font-style: italic;">{{'HOME_CLINICAL_EASY_VARIETY_EXTENSIBLE_REPOSITORY' | translate}}</span>
		</center>
		
	</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<a class="glyphicon glyphicon-th item-icon" style="text-decoration: none;color:#1abc9c ;" ng-href="{{WEBSITE_DOMAIN}}/#/management/archetype"></a>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span class="item-title">{{'ARCHETYPE_MANAGEMENT' | translate}}</span>
					</div>
					<p class="item-content" style="overflow: auto;">
						{{'MENU_MANAGEMENT_ARCHETYPE_INFO' | translate}}
						<!--<a class="pull-right"
						href="/clever-management-website/#/about"
						role="button">{{'iEnter' | translate}}</a>-->
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<a class="glyphicon glyphicon-cog item-icon" style="text-decoration: none;color: #2ecc71;" ng-href="{{WEBSITE_DOMAIN}}/#/management/storage"></a>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span class="item-title">{{'STORAGE_MANAGEMENT' | translate}}</span>
					</div>
					<p class="item-content" style="overflow: auto;">
						{{'MENU_MANAGEMENT_STORAGE_INFO' | translate}}
						<!--<a class="pull-right"
						href="/clever-management-website/#/about"
						role="button">{{'iEnter' | translate}}</a>-->
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<a class="glyphicon glyphicon-list-alt item-icon" style="text-decoration: none;color: #3bafda;" ng-href="{{WEBSITE_DOMAIN}}/#/management/application"></a>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span class="item-title">{{'APPLICATION_MANAGEMENT' | translate}}</span>
					</div>
					<p class="item-content" style="overflow: auto;">
						{{'MENU_MANAGEMENT_APPLICATION_INFO' | translate}}
						<!--<a class="pull-right"
						href="/clever-management-website/#/about"
						role="button">{{'iEnter' | translate}}</a>-->
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<a class="glyphicon glyphicon-screenshot item-icon" style="text-decoration: none;color: #234623;" ng-href="{{WEBSITE_DOMAIN}}/#/management/integration"></a>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span class="item-title">{{'INTEGRATION_MANAGEMENT' | translate}}</span>
					</div>
					<p class="item-content" style="overflow: auto;">
						{{'MENU_MANAGEMENT_INTEGRATION_INFO' | translate}}
						<!--<a class="pull-right"
						href="/clever-management-website/#/about"
						role="button">{{'iEnter' | translate}}</a>-->
					</p>
				</div>
			</div>
		</div>
	</div>
</div>