<div class="row" style="margin-top:10px;">
    <div class="col-xs-12 col-md-12 col-lg-12 hbox">
        <div class="panel panel-default" ng-show="!isApiListHidden">
            <div class="panel-heading">
                <div class="btn-group" ng-if="!isApiListHidden" style="display:flex">
                    <button ng-click="stretch()" class="btn btn-default " style="width: 92px">
                        <span>{{stretchState | translate}}</span>
                    </button>
                    <i class="search-icon glyphicon glyphicon-search" style="position: absolute;
					top: 3px;
					left: 90px;
					z-index: 20;
					width: 30px;
					font-size: 17px;
					line-height: 30px;
					color: #e6e9ed;
					text-align: center;"></i>
                    <input type="text" style="border-bottom-right-radius: 17px; border-top-right-radius:17px; padding-left: 40px;" ng-model="apiListFilter.value" class="form-control" placeholder="{{'SEARCH_HINT' | translate}}" />
                </div>
            </div>
            <div class="list-group" ng-style="{height : maxHeight-100}" style="overflow: auto; white-space: nowrap;  margin-left: -5px;">
                <tree-view tree-data="versionMaster.rootUrlMasters" node-id="id" click-node-callback="selectApi(value)" node-children="apiList" tree-control="treeControl" node-alias-name="node" search-key-mapper="searchKeyMapper">
                    <tree-expanded-icon>
                        <span class="clever-icon expanded" style="padding: 0 6px;height: 12px;background-position-y: 6px;"></span>
                    </tree-expanded-icon>
                    <tree-collapsed-icon>
                        <span class="clever-icon collapsed" style="padding: 0 6px;height: 12px;background-position-y: 6px;"></span>
                    </tree-collapsed-icon>
                    <tree-node-label>
                        <!-- <span ng-show="language == 'en'"> <img  ng-show="node.name" class="clever-icon api" style="padding: 0 10px;height: 16px;"></img> <a ng-show="node.name" ng-bind-html="node.name | highlight:keyword | unsafe"  class="api"></a> <img  ng-show="node.rootUrlName" class="clever-icon list folder" style="padding: 0 10px;height: 16px;"></img> <span ng-show="node.rootUrlName" ng-bind-html="node.rootUrlName | highlight:keyword | unsafe" style="font-weight:bold; color:#6F0101"> </span> </span> -->
                        <span> <img  ng-show="node.name" class="clever-icon api" style="padding: 0 10px;height: 16px;"></img> <a ng-show="node.name" ng-bind-html="node.chineseName | highlight:keyword | unsafe"  class="api"></a> <img  ng-show="node.rootUrlName" class="clever-icon list folder" style="padding: 0 10px;height: 16px;"></img> <span ng-show="node.rootUrlName" ng-bind-html="node.chineseName | highlight:keyword | unsafe" style="font-weight:bold; color:#6F0101"></span> </span>
                    </tree-node-label>
                </tree-view>
            </div>
        </div>
        <splitter is-adjust-enabled="!isApiListHidden" style="min-height: 100%;">
            <i style="cursor: pointer" ng-click="isApiListHidden = !isApiListHidden" ng-show="isApiListHidden" tooltip-placement="right" tooltip="Expand" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-right" ng-style="{'margin-top': maxHeight/2}" ></span> </i>
            <i style="cursor: pointer" ng-click="isApiListHidden = !isApiListHidden" ng-show="!isApiListHidden" tooltip-placement="right" tooltip="Collapse" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-left" ng-style="{'margin-top': maxHeight/2}" ></span> </i>
        </splitter>
        <div class="col-md-12 col-xs-12 col-lg-12 flex-box" ng-if="selectedApi">
            <tabset tab-control="tabControl">
                <tab heading="Base">
                    <div style="border-bottom: inset 1px" ng-style="{height: maxHeight - 120}">
                        <api-base-information-pane api-info="selectedApi"></api-base-information-pane>
                    </div>
                </tab>
                <tab heading="Param">
                    <div style="border-bottom: inset 1px; overflow: auto" ng-style="{height: maxHeight - 120}">
                        <api-param-information-pane api-info="selectedApi" version-master-id="versionMasterId"></api-param-information-pane>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
</div>
