<div class="Toolbox">
            <button class="btn btn-primary btn-lg ng-binding" style="float:right;margin-right:150px;padding:8px 16px;" ng-click="newTemplate()">{{'MANAGEMENT_DEVELOPMENT_DESIGNER_NEW' | translate}}</button>
            <button class="btn btn-primary btn-lg ng-binding" style="float:right;margin-right:20px;padding:8px 16px;"  ng-click="saveTemplate()">{{'MANAGEMENT_DEVELOPMENT_DESIGNER_SAVE' | translate}}</button>
       </div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 hbox">  
	   <div class="panel panel-default" ng-show="!isTemolateListHidden" >
	    			<div class="panel-heading">
	    				<div class="input-group">
                    <input type="text" class="form-control" ng-model="archetypeListFilter">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="expand()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button> </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="collapse()">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button> </span>
                </div>
	    			</div>
	    	        <div class="list-group" ng-style="{height: containerHeight - 55}" style="overflow: auto;auto;margin-left: -5px;white-space: nowrap;">
                      <div class="btn-group" style="margin-left:30px;">
                        <button class="btn btn-default" type="button" ng-click="expand()">{{'MANAGEMENT_DEVELOPMENT_DESIGNER_EXPANDALL' | translate}}</button>
                        <button class="btn btn-default" type="button" ng-click="collapse()">{{'MANAGEMENT_DEVELOPMENT_DESIGNER_COLLAPSEALL' | translate}}</button>
                      </div>
                      <storagetemplate-list-tree tree-data="templateList" select-node-callback="getTemplateDetail(node)" tree-control="treeControl">
                      </storagetemplate-list-tree>  
                      <template-list-tree ng-repeat="node in templateDetail" tree-data="node" ng-mousedown="cloneItems()" temp-control="tempControl">
                      </template-list-tree>
                                      
                  </div>
	    		</div>	   
	   <!-- splitter -->
	   <splitter is-adjust-enabled="!isTemolateListHidden" style="min-height: 100%;">
			<i style="cursor: pointer" ng-click="isTemolateListHidden = !isTemolateListHidden" ng-show="isTemolateListHidden" tooltip-placement="right" tooltip="Expand" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-right" ng-style="{'margin-top': containerHeight/2}" ></span> </i>
			<i style="cursor: pointer" ng-click="isTemolateListHidden = !isTemolateListHidden" ng-show="!isTemolateListHidden" tooltip-placement="right" tooltip="Collapse" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-left" ng-style="{'margin-top': containerHeight/2}" ></span> </i>
		</splitter>
		
    <div class="col-xs-12 col-md-12 col-lg-12 edit-box" style="height:2800px">
        <div id="editArea"> 
             <div>
        <strong>{{'MANAGEMENT_DEVELOPMENT_DESIGNER_GOLD' | translate}}: </strong>
        {{player.gold}}
        </div>
        <div class="list-group">
             <a class="list-group-item"
                ng-repeat="item in items"
                ng-context-menu="menuOptions">
                 <span class="badge">{{item.cost}}</span>
                 {{item.name}}
            </a>
        </div>
        </div>
	</div>


