<div class="Toolbox">
            <button class="btn btn-primary btn-lg ng-binding" style="float:right;margin-right:150px;padding:8px 16px;" ng-click="newTemplate()">{{'MANAGEMENT_DEVELOPMENT_DESIGNER_NEW' | translate}}</button>
            <button class="btn btn-primary btn-lg ng-binding" style="float:right;margin-right:20px;padding:8px 16px;"  ng-click="saveTemplate()">{{'MANAGEMENT_DEVELOPMENT_DESIGNER_SAVE' | translate}}</button>
       </div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 hbox">  
	   <div class="panel panel-default" ng-show="!isTemolateListHidden" >
			<div class="panel-heading">
				<div class="input-group">
            <input type="text" class="form-control" ng-model="archetypeListFilter">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="expand()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button> </span>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="collapse()">
                    <span class="glyphicon glyphicon-minus"></span>
                </button> </span>
            </div>
		</div>
        <div class="list-group" ng-style="{height: containerHeight - 55}" style="overflow: auto;auto;margin-left: -5px;white-space: nowrap;">
          <tree-view tree-data="newtemplateList" node-id="id"
                double-click-node-callback="getTemplateDetail(value)"
                node-children="children"
                tree-control="treeControl"
                node-alias-name="node"
                search-key-mapper="searchKeyMapper">
                    <tree-expanded-icon>
                        <span class="clever-icon expanded" style="padding: 0 6px;height: 12px;background-position-y: 6px;"></span>
                    </tree-expanded-icon>
                    <tree-collapsed-icon>
                        <span class="clever-icon collapsed" style="padding: 0 6px;height: 12px;background-position-y: 6px;"></span>
                    </tree-collapsed-icon>
                    <tree-node-label>
                        <img ng-show="node.isDirectory" ng-class="node.type | lowercase" class="clever-icon list" style="padding: 0 10px;height: 16px;"></img>
                        <span ng-show="node.isDirectory" ng-bind="node.name"></span>
                        <img ng-show="!node.isDirectory" ng-class="node.lifecycleState | lowercase" class="clever-icon" style="padding: 0 10px;height: 16px;"></img>
                        <span ng-show="!node.isDirectory" ng-bind-html="node.conceptName | highlight:keyword | unsafe"></span>
                        &nbsp;<span ng-show="!node.isDirectory" style="color: grey;font-size: 10pt;">(<span ng-bind="node.version"></span>)</span>
                    </tree-node-label>
                </tree-view>

              <template-list-tree ng-repeat="node in templateDetail" tree-data="node.definitions" template-name="node.template_name" ng-mousedown="cloneItems()" temp-control="tempControl">
              </template-list-tree>                                      
                  </div>
	    		</div>	   
	   <!-- splitter -->
	   <splitter is-adjust-enabled="!isTemolateListHidden" style="min-height: 100%;">
			<i style="cursor: pointer" ng-click="isTemolateListHidden = !isTemolateListHidden" ng-show="isTemolateListHidden" tooltip-placement="right" tooltip="Expand" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-right" ng-style="{'margin-top': containerHeight/2}" ></span> </i>
			<i style="cursor: pointer" ng-click="isTemolateListHidden = !isTemolateListHidden" ng-show="!isTemolateListHidden" tooltip-placement="right" tooltip="Collapse" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-chevron-left" ng-style="{'margin-top': containerHeight/2}" ></span> </i>
		</splitter>
		
    <div class="col-xs-12 col-md-12 col-lg-12 edit-box" ng-style="{height: containerHeight}" >
        <div id="editArea"></div>
       
        </div> 
        <div id="controlBox">
            <control-box></control-box>
            
	</div>


