<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
	<br />
	<br />
	<nav>
		<ul class="nav nav-pills nav-stacked">
			
				<li access="{{sub.authority}}" ng-repeat="sub in stateMenuMap[$state.current.name].subMenus"  ng-class="{active : sub == selectedSubMenu}" ng-click="selectSubMenu(sub)">
					<a  href style="border-radius: 0" ><h4 style="margin-top: 5px;margin-bottom: 5px;">{{sub.title | translate}}</h4></a>
				</li>
		
		</ul>
	</nav>
</div>

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<div ui-view class="col-lg-12 col-md-12 col-sm-12"></div>
</div>
