<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.err</Target>
		<encoder>
			<pattern>%d [%thread] %logger{50}::%method %n %-5level- %message%n%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<logger name="ch.qos">
		<level value="WARN"/>
	</logger>
	<logger name="org.springframework">
		<level value="WARN"/>
	</logger>
	<root>
		<appender-ref ref="STDOUT" level="INFO"/>
	</root>
	<consolePlugin/>
</configuration>