/* Archetype list tree */
archetype-list-tree-node li .expanded {
	padding: 1px 5px;
	height: 12px;
	background-image: url("../img/arrow_expanded.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

archetype-list-tree-node li .collapsed {
	padding: 1px 5px;
	height: 12px;
	background-image: url("../img/arrow_collapsed_white.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

archetype-list-tree-node li .draft {
	padding: 0 10px;
	height: 16px;
	background-image: url("../img/draft.png");
	background-repeat: no-repeat;
}

archetype-list-tree-node li .teamreview {
	padding: 0 10px;
	height: 16px;
	background-image: url("../img/teamreview.png");
	background-repeat: no-repeat;
}

archetype-list-tree-node li .published {
	padding: 0 10px;
	height: 16px;
	background-image: url("../img/published.png");
	background-repeat: no-repeat;
}

archetype-list-tree-node {
	/* prevent user selection */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* default */
	font-size: 13px;
	color: #555;
	text-decoration: none;
}

archetype-list-tree-node ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	overflow: hidden;
}

archetype-list-tree-node li {
	position: relative;
	margin-left: 20px;
	margin-top: 5px;
	line-height: 20px;
	font-size: 15px;
}

archetype-list-tree-node li i, archetype-list-tree-node li span {
	cursor: pointer;
}

archetype-list-tree-node li .selected {
	background-color: #aaddff;
	font-weight: bold;
}