/* Data type */
.clever-icon.DV_TEXT {
	background-image: url("../img/datatype/text.png");
	background-repeat: no-repeat;
}
.clever-icon.DV_COUNT {
	background-image: url("../img/datatype/count.png");
	background-repeat: no-repeat;
}
.clever-icon.DV_QUANTITY {
	background-image: url("../img/datatype/quantity.png");
	background-repeat: no-repeat;
}
.clever-icon.DV_DATE_TIME {
	background-image: url("../img/datatype/datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.DV_BOOLEAN {
	background-image: url("../img/datatype/boolean.png");
	background-repeat: no-repeat;
}

.clever-icon.dv_text {
	background-image: url("../img/datatype/text.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_coded_text {
	background-image: url("../img/datatype/text.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_quantity {
	background-image: url("../img/datatype/quantity.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_count {
	background-image: url("../img/datatype/count.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_date_time {
	background-image: url("../img/datatype/datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_date {
	background-image: url("../img/datatype/datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_time {
	background-image: url("../img/datatype/datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_duration {
	background-image: url("../img/datatype/duration.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_ordinal {
	background-image: url("../img/datatype/ordinal.png");
	background-repeat: no-repeat;
}
.clever-icon.ordinal {
	background-image: url("../img/datatype/ordinal.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_boolean {
	background-image: url("../img/datatype/boolean.png");
	background-repeat: no-repeat;
}

.clever-icon.interval_quantity {
	background-image: url("../img/datatype/interval_quantity.png");
	background-repeat: no-repeat;
}
.clever-icon.interval_count {
	background-image: url("../img/datatype/interval_count.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_interval {
	background-image: url("../img/datatype/interval.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_multimedia {
	background-image: url("../img/datatype/multimedia.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_uri {
	background-image: url("../img/datatype/uri.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_ehr_uri {
	background-image: url("../img/datatype/uri.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_proportion {
	background-image: url("../img/datatype/ratio.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_identifier {
	background-image: url("../img/datatype/identifier.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_amount {
	background-image: ;/*no image*/
	background-repeat: no-repeat;
}
.clever-icon.dv_parseble {
	background-image: url("../img/datatype/parseable.png");
	background-repeat: no-repeat;
}
.clever-icon.any {
	background-image: url("../img/datatype/any.png");
	background-repeat: no-repeat;
}
.clever-icon.choice {
	background-image: url("../img/datatype/choice.png");
	background-repeat: no-repeat;
}
.clever-icon.dv_identifier {
	background-image: url("../img/datatype/id.png");
	background-repeat: no-repeat;
}
.clever-icon.slot {
	background-image: url("../img/datatype/slot.png");
	background-repeat: no-repeat;
}
.clever-icon.slot_item {
	background-image: url("../img/datatype/slot.png");
	background-repeat: no-repeat;
}
.clever-icon.slot_element {
	background-image: url("../img/datatype/slot.png");
	background-repeat: no-repeat;
}
.clever-icon.slot_cluster {
	background-image: url("../img/datatype/slot.png");
	background-repeat: no-repeat;
}
/*do not know whether we need these image*/
.clever-icon.pointintime {
	background-image: url("../img/datatype/pointintime.png");
	background-repeat: no-repeat;
}
.clever-icon.interval_datetime {
	background-image: url("../img/datatype/interval_datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.ratio {
	background-image: url("../img/datatype/ratio.png");
	background-repeat: no-repeat;
}
.clever-icon.item {
	background-image: url("../img/datatype/item.png");
	background-repeat: no-repeat;
}

/* Reference model type */
.clever-icon.list.action {
	background-image: url("../img/archetype/action.png");
	background-repeat: no-repeat;
}
.clever-icon.list.evaluation {
	background-image: url("../img/archetype/evaluation.png");
	background-repeat: no-repeat;
}
.clever-icon.list.observation {
	background-image: url("../img/archetype/observation.png");
	background-repeat: no-repeat;
}
.clever-icon.list.instruction {
	background-image: url("../img/archetype/instruction.png");
	background-repeat: no-repeat;
}
.clever-icon.list.admin_entry {
	background-image: url("../img/archetype/admin.png");
	background-repeat: no-repeat;
}
.clever-icon.list.cluster {
	background-image: url("../img/archetype/cluster.png");
	background-repeat: no-repeat;
}
.clever-icon.list.section {
	background-image: url("../img/archetype/section.png");
	background-repeat: no-repeat;
}
.clever-icon.list.element {
	background-image: url("../img/archetype/element.png");
	background-repeat: no-repeat;
}
.clever-icon.list.composition {
	background-image: url("../img/archetype/composition.png");
	background-repeat: no-repeat;
}
.collapsed > span > span > span > .clever-icon.list.folder {
	background-image: url("../img/archetype/folder.gif");
	background-repeat: no-repeat;
}
.clever-icon.list.folder {
	background-image: url("../img/archetype/folder.gif");
	background-repeat: no-repeat;
}
.expanded > span > span > span > .clever-icon.list.folder {
	background-image: url("../img/archetype/folder-open.gif");
	background-repeat: no-repeat;
}
.clever-icon.list.folder {
	background-image: url("../img/archetype/folder-open.gif");
	background-repeat: no-repeat;
}
.clever-icon.list.ehr-structure {
	background-image: url("../img/archetype/structure.png");
	background-repeat: no-repeat;
}

/* Data type  */
.clever-icon.history {
	background-image: url("../img/datatype/history.png");
	background-repeat: no-repeat;
}
.clever-icon.structure {
	background-image: url("../img/datatype/structure.png");
	background-repeat: no-repeat;
}
.clever-icon.composition {
	background-image: url("../img/datatype/composition.png");
	background-repeat: no-repeat;
}
.clever-icon.slot {
	background-image: url("../img/datatype/slot.png");
	background-repeat: no-repeat;
}
.clever-icon.element {
	background-image: url("../img/datatype/element.png");
	background-repeat: no-repeat;
}
.clever-icon.text {
	background-image: url("../img/datatype/text.png");
	background-repeat: no-repeat;
}
.clever-icon.uri {
	background-image: url("../img/datatype/uri.png");
	background-repeat: no-repeat;
}
.clever-icon.datetime {
	background-image: url("../img/datatype/datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.quantity {
	background-image: url("../img/datatype/quantity.png");
	background-repeat: no-repeat;
}
.clever-icon.duration {
	background-image: url("../img/datatype/duration.png");
	background-repeat: no-repeat;
}
.clever-icon.multimedia {
	background-image: url("../img/datatype/multimedia.png");
	background-repeat: no-repeat;
}
.clever-icon.parseable {
	background-image: url("../img/datatype/parseable.png");
	background-repeat: no-repeat;
}
.clever-icon.id {
	background-image: url("../img/datatype/id.png");
	background-repeat: no-repeat;
}
.clever-icon.pointintime {
	background-image: url("../img/datatype/pointintime.png");
	background-repeat: no-repeat;
}
.clever-icon.interval {
	background-image: url("../img/datatype/interval.png");
	background-repeat: no-repeat;
}
.clever-icon.count {
	background-image: url("../img/datatype/count.png");
	background-repeat: no-repeat;
}
.clever-icon.interval_datetime {
	background-image: url("../img/datatype/interval_datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.any {
	background-image: url("../img/datatype/any.png");
	background-repeat: no-repeat;
}
.clever-icon.truefalse {
	background-image: url("../img/datatype/truefalse.png");
	background-repeat: no-repeat;
}
.clever-icon.choice {
	background-image: url("../img/datatype/choice.png");
	background-repeat: no-repeat;
}
.clever-icon.ratio {
	background-image: url("../img/datatype/ratio.png");
	background-repeat: no-repeat;
}
.clever-icon.party_identity {
	background-image: url("../img/datatype/partyIdentity.png");
	background-repeat: no-repeat;
}
.clever-icon.address {
	background-image: url("../img/datatype/address.png");
	background-repeat: no-repeat;
}
.clever-icon.party_relationship {
	background-image: url("../img/datatype/partyRelationship.png");
	background-repeat: no-repeat;
}
.clever-icon.capability {
	background-image: url("../img/datatype/capability.png");
	background-repeat: no-repeat;
}
.clever-icon.organisation {
	background-image: url("../img/datatype/organisation.png");
	background-repeat: no-repeat;
}
.clever-icon.contact {
	background-image: url("../img/datatype/contact.png");
	background-repeat: no-repeat;
}
.clever-icon.demographic {
	background-image: url("../img/datatype/demographic.png");
	background-repeat: no-repeat;
}
.clever-icon.role {
	background-image: url("../img/datatype/role.png");
	background-repeat: no-repeat;
}
.clever-icon.admin {
	background-image: url("../img/datatype/admin.png");
	background-repeat: no-repeat;
}
.clever-icon.participation {
	background-image: url("../img/datatype/participation.png");
	background-repeat: no-repeat;
}
.clever-icon.party_ref {
	background-image: url("../img/datatype/partyRef.png");
	background-repeat: no-repeat;
}
.clever-icon.link {
	background-image: url("../img/datatype/link.png");
	background-repeat: no-repeat;
}

.clever-icon.attribute {
	background-image: url("../img/datatype/attribute.png");
	background-repeat: no-repeat;
}

/* Life cycle state */
.clever-icon.draft {
	background-image: url("../img/draft.png");
	background-repeat: no-repeat;
}
.clever-icon.teamreview {
	background-image: url("../img/teamreview.png");
	background-repeat: no-repeat;
}
.clever-icon.published {
	background-image: url("../img/published.png");
	background-repeat: no-repeat;
}

.clever-icon.archetype {
	background-image: url("../img/letter-A-violet-icon.png");
	background-repeat: no-repeat;
}
.clever-icon.template {
	background-image: url("../img/letter-T-gold-icon.png");
	background-repeat: no-repeat;
}
.clever-icon.archetype.master {
	background-image: url("../img/letter-M-violet-icon.png");
	background-repeat: no-repeat;
}
.clever-icon.template.master {
	background-image: url("../img/letter-M-gold-icon.png");
	background-repeat: no-repeat;
}

.clever-icon.expanded {
	background-image: url("../img/arrow_expanded.png");
	background-repeat: no-repeat;
}
.clever-icon.collapsed {
	background-image: url("../img/arrow_collapsed_white.png");
	background-repeat: no-repeat;
}

.clever-icon.delete {
	background-image: url("../img/delete.png");
	background-repeat: no-repeat;
}

.clever-icon.api {
	background-image: url("../img/api.png");
	background-repeat: no-repeat;
}
.clever-icon.api-list{
	background-image: url("../img/apilist.png");
	background-repeat: no-repeat;
}
.clever-icon.pojo-class {
	background-image: url("../img/pojo-class.png");
	background-repeat: no-repeat;
}
.clever-icon.user{
	background-image: url("../img/user.png");
	background-repeat: no-repeat;
}
