/* Data type */
.clever-icon.DV_TEXT {
	background-image: url("../img/datatype/text.png");
	background-repeat: no-repeat;
}
.clever-icon.DV_COUNT {
	background-image: url("../img/datatype/count.png");
	background-repeat: no-repeat;
}
.clever-icon.DV_QUANTITY {
	background-image: url("../img/datatype/quantity.png");
	background-repeat: no-repeat;
}
.clever-icon.DV_DATE_TIME {
	background-image: url("../img/datatype/datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.DV_BOOLEAN {
	background-image: url("../img/datatype/boolean.png");
	background-repeat: no-repeat;
}

/* Reference model type */
.clever-icon.action {
	background-image: url("../img/archetype/action.png");
	background-repeat: no-repeat;
}
.clever-icon.evaluation {
	background-image: url("../img/archetype/evaluation.png");
	background-repeat: no-repeat;
}
.clever-icon.observation {
	background-image: url("../img/archetype/observation.png");
	background-repeat: no-repeat;
}
.clever-icon.instruction {
	background-image: url("../img/archetype/instruction.png");
	background-repeat: no-repeat;
}
.clever-icon.admin {
	background-image: url("../img/archetype/admin.png");
	background-repeat: no-repeat;
}
.clever-icon.cluster {
	background-image: url("../img/archetype/cluster.png");
	background-repeat: no-repeat;
}
.clever-icon.section {
	background-image: url("../img/archetype/section.png");
	background-repeat: no-repeat;
}

/* Data type  */
.clever-icon.history {
	background-image: url("../img/datatype/history.png");
	background-repeat: no-repeat;
}
.clever-icon.structure {
	background-image: url("../img/datatype/structure.png");
	background-repeat: no-repeat;
}
.clever-icon.composition {
	background-image: url("../img/datatype/composition.png");
	background-repeat: no-repeat;
}
.clever-icon.slot {
	background-image: url("../img/datatype/slot.png");
	background-repeat: no-repeat;
}
.clever-icon.element {
	background-image: url("../img/datatype/element.png");
	background-repeat: no-repeat;
}
.clever-icon.text {
	background-image: url("../img/datatype/text.png");
	background-repeat: no-repeat;
}
.clever-icon.uri {
	background-image: url("../img/datatype/uri.png");
	background-repeat: no-repeat;
}
.clever-icon.datetime {
	background-image: url("../img/datatype/datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.quantity {
	background-image: url("../img/datatype/quantity.png");
	background-repeat: no-repeat;
}
.clever-icon.duration {
	background-image: url("../img/datatype/duration.png");
	background-repeat: no-repeat;
}
.clever-icon.multimedia {
	background-image: url("../img/datatype/multimedia.png");
	background-repeat: no-repeat;
}
.clever-icon.id {
	background-image: url("../img/datatype/id.png");
	background-repeat: no-repeat;
}
.clever-icon.pointintime {
	background-image: url("../img/datatype/pointintime.png");
	background-repeat: no-repeat;
}
.clever-icon.interval {
	background-image: url("../img/datatype/interval.png");
	background-repeat: no-repeat;
}
.clever-icon.count {
	background-image: url("../img/datatype/count.png");
	background-repeat: no-repeat;
}
.clever-icon.interval_datetime {
	background-image: url("../img/datatype/interval_datetime.png");
	background-repeat: no-repeat;
}
.clever-icon.any {
	background-image: url("../img/datatype/any.png");
	background-repeat: no-repeat;
}
.clever-icon.truefalse {
	background-image: url("../img/datatype/truefalse.png");
	background-repeat: no-repeat;
}

/* Life cycle state */
.clever-icon.draft {
	background-image: url("../img/draft.png");
	background-repeat: no-repeat;
}
.clever-icon.teamreview {
	background-image: url("../img/teamreview.png");
	background-repeat: no-repeat;
}
.clever-icon.published {
	background-image: url("../img/published.png");
	background-repeat: no-repeat;
}


.clever-icon.archetype {
	background-image: url("../img/letter-A-violet-icon.png");
	background-repeat: no-repeat;
}
.clever-icon.template {
	background-image: url("../img/letter-T-gold-icon.png");
	background-repeat: no-repeat;
}
.clever-icon.archetype.master {
	background-image: url("../img/letter-M-violet-icon.png");
	background-repeat: no-repeat;
}
.clever-icon.template.master {
	background-image: url("../img/letter-M-gold-icon.png");
	background-repeat: no-repeat;
}


.clever-icon.expanded {
	background-image: url("../img/arrow_expanded.png");
	background-repeat: no-repeat;
}
.clever-icon.collapsed {
	background-image: url("../img/arrow_collapsed_white.png");
	background-repeat: no-repeat;
}
